@font-face {
    font-family: 'Fz Poppins';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-Black.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-Bold.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-BlackItalic.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-BoldItalic.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins ExtBd';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-ExtraBoldItalic.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins ExtLt';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-ExtraLight.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins ExtBd';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-ExtraBold.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-Italic.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-Light.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins ExtLt';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-ExtraLightItalic.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-LightItalic.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins Med';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-Medium.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-Thin.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins SemBd';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-SemiBoldItalic.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-ThinItalic.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-Regular.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins Med';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-MediumItalic.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Poppins SemBd';
    src: url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-SemiBold.woff2') format('woff2'),
        url('https://github.com/KiemesSix/cg-profile/raw/master/FzPoppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

